<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <meta charset="utf-8">
    <title>Barney Company</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script>

    </script>
  </head>
  <body>

    <div id="container">

    <!-- Use the header area for the website name or logo -->
    <header>
      <a href="index.html"> <img src="images/barney_logo.png" alt="Barney Logo" width="300" height="200"> </a>
    </header>

    <!-- Use the nav area to add hyperlinks to other pages within the website  -->
    <nav>
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li class="dropdown-show1"><a href="service.html">SERVICES</a></li>
        <li class="dropdown-show">
          <div class="dropdown">
            <a href="service.html">SERVICES</a>
            <div class="dropdown-content" >
              <a href="luxury_design.html">Luxury Morden Desgin</a>
              <a href="responsive_web.html">Responsive Web Design</a>
              <a href="mobile_web.html">Web Design for Mobile</a>
            </div>
          </div>
        </li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </nav>

    <!-- Home Page Banner -->
    <div id="banner" class="desktop">
      <hr>
      <img src="images/homebanner.png" alt="Home Banner Image">
    </div>

    <!-- Use the main area to add the main content of the webpage -->
    <main>

      <div class="mobile">

      </div>

      <div class="desktop">

      </div>

    </main>

    <!-- Use the footer area to add webpage footer content -->
    <footer>

      <hr>

      <div id="copyright">
        <p>&copy; Copyright 2019. All Rights Reserved.<br>
      <a href="mailto:barneywebdesign@gmail.com">barneywebdesign@gmail.com</a></p>
    </div>

    <div id="social">
      <p>connect with us:</p>
      <p><a href="https://www.facebook.com/barneywebdesign"><img src="images/fblogo.png" alt="Facebook Logo"></a>
      <a href="https://www.twitter.com/barneywebdesign"><img src="images/twitterlogo.png" alt="Twitter Logo"></a></p>
    </div>
    </footer>

    </div>

  </body>
</html>
