<!DOCTYPE>
<!-- this website template was created by: Nguyen Minh Man -->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="utf-8">
    <title>Foward Fitness Club</title>
  </head>
  <body>

    <div id="container">

    <!-- Use the header area for the website or logo -->
    <header>
      <a href="index.html"><img src="images/ffc_logo.png" alt="Foward Fitness Club Logo"></a>
    </header>

    <!-- Use the nav area to add hyperlinks to other pages within the website -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="class.html">Classes</a></li>
        <li><a href="nutrition.html">Nutrition</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Use the main area to add the main content of the website -->
    <main>
    </main>

    <!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; Copyright 2015. All Rights Reserved.<br>
      <a href="mailto:fowardfitnessclub@club.net">fowardfitnessclub@club.net</a>
    </footer>

    </div>

  </body>
</html>
